.complex {
    
    .section {
        &_first {
            padding: 30px 0;
            background-color: $bgGray;
        }

        &_second {
            padding: 100px 0 110px;
            background-color: $white;
        }

        &_third {
            padding: 50px 0;
            background-color: $blue;
        }

        &_fourth {
            padding: 100px 0 50px;
            background-color: $bgGray;
        }

        &_fifth {
            overflow: hidden;
            padding: 100px 0;
            background-color: $white;
        }
    }

    &__block-title {
        @extend %font22;
        line-height: 150%;

        &_descr {
            margin-bottom: 20px;
            color: $baseColor;
            font-weight: 700;
        }

        &_place {
            margin-bottom: 50px;
            color: $baseColor;
            font-weight: 700;
        }

        &_advantages {
            margin-bottom: 30px;
            color: $white;
            font-weight: 700;
        }

        &_plan {
            margin-bottom: 40px;
            color: $baseColor;
            font-weight: 700;
        }

        &_build {
            margin-bottom: 50px;
            color: $baseColor;
            font-weight: 700;
        }

        &_ipoteka {
            margin-bottom: 50px;
            color: $baseColor;
            font-weight: 700;
        }

        &_credit {
            margin-bottom: 50px;
            color: $baseColor;
            font-weight: 700;
        }
    }

    &__main {
        box-shadow: 0px 10px 27px rgba(207, 221, 234, 0.8);
        border-radius: 10px;
        background-color: $white;
    }
    
    &__main__row {
        padding: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__main__title {
        @extend %section-title;
        font-weight: 700;
        color: $baseColor;
        margin-bottom: 15px;
        flex-basis: 60%;
    }

    &__main__price {
        text-align: right;
        flex-basis: 40%;
    }

    &__main__price__item {
        @extend %font18;
        color: $baseColor;

        &_text {
            @extend %font20;
            font-weight: 500;
        }
    }

    &__main__address {
        display: flex;
    }

    &__main__address__item {
        @extend %font20;
        line-height: 1;
        display: flex;
        align-items: center;

        a {
            color: $blue;
        }
    }

    &__main__address__item__metro {
        padding-left: 20px;
        margin-right: 20px;
        position: relative;
        color: $baseColor;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            width: 10px;
            height: 10px;
            margin: auto;
            border-radius: 50px;            
        }

        &_green {
            &:before {
                
                background-color: $metroGreen;
            }
        }
    }

    &__main__address__item__time {       
        margin-right: 20px;
        position: relative;
        color: $darkGray;
        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        
        &_transport {
            padding-left: 28px;
            &:before {
                width: 15px;
                height: 18px;
                background-image: url(../img/icons/offers-transport.svg);
            }
        }

        &_walk {
            padding-left: 21px;
            &:before {
                width: 11px;
                height: 18px;
                background-image: url(../img/icons/offers-walking.svg);
            }
        }
    }

    &__main__address__item__street {
        margin-right: 20px;
        color: $baseColor;
    }

    

    &__main__nav {
        border-top: 1px solid $faqBorder;
        padding: 26px 30px 24px;
        
    }

    &__main__nav__overflow {
        display: flex;
    }

    &__main__nav__item {
        @extend %font20;
        color: $lightBlue;
        margin-right: 30px;
        position: relative;
        
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 4px;
            background-color: $blue;
            bottom: -24px;
            left: 0;
        }

        &:last-of-type {
            margin-right: 0;
        }

        &_active {
            color: $baseColor;
            &:after {
                width: 100%;
            }
        }
    }

    &__picture {
        margin-top: 40px;
        display: flex;
        align-items: flex-start;
    }

    &__picture__slider {
        width: 100%;
        max-width: 1010px;
        max-height: 620px;
        margin-right: 30px;
        border-radius: 10px;
        overflow: hidden;
    }

    &__picture__slider__item {
        img {
            display: block;
        }
    }

    &__picture__info {
        background-color: $white;
        width: 100%;
        max-width: 490px;
        max-height: 620px;
        box-shadow: 0px 10px 27px rgba(207, 221, 234, 0.8);
        border-radius: 10px;
        padding: 40px 30px 50px;        
    }

    &__picture__info__item {
        @extend %font20;
        line-height: 150%;
        margin-bottom: 30px;
        display: flex;
        color: $baseColor;

        .text-blue {
            color: $blue;
        }

        &:last-of-type {
            margin-bottom: 84px;
        }
    }

    &__picture__info__item__name {
        width: 100%;
        max-width: 190px;
        padding-right: 25px;
    }

    &__picture__info__link {
        @extend %font20;
        background-color: $blue;
        color: $white;
        font-weight: 700;
        padding: 15px;
        display: block;
        max-width: 230px;
        margin: 0 auto;
        text-align: center;
        border-radius: 7px;
    }

    &__descr {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    &__descr__text {
        @extend %font20;
        line-height: 150%;
        color: $baseColor;
    }

    &__place {
        
    }

    &__place__wrap {
        display: flex;
    }

    &__place__map {
        background-color: $blue;
        width: 100%;
        max-width: 910px;
        min-width: 910px;
        height: 560px;
        border-radius: 10px;
        overflow: hidden;
    }

    &__place__text {
        @extend %font20;
        line-height: 150%;
        padding-left: 100px;
        color: $baseColor;
    }

    &__advantages__item {
        @extend %font20;
        color: $white;
        line-height: 150%;
        margin-bottom: 20px;
        position: relative;
        padding-left: 40px;

        &:before {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background-image: url(../img/icons/check-white.svg);
            height: 21px;
            width: 28px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__plan__picture {
        max-width: 910px;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        img {
            display: block;
            max-width: 100%;
        }
    }

    &__ipoteka {
        margin-bottom: 150px;
    }

    &__ipoteka__slider {
        margin: 0 -15px;
        
        .slick-list {
            overflow: visible;
        }

        .slick-slide {
            padding: 0 15px;
            transition: 0.3s;
            opacity: 0;
            outline: none;

            &.slick-active {
                opacity: 1;
                transition: 0.3s;
            }
        }

        .slick-dots {
            bottom: -56px;
        }

        .slick-dots li {
            margin: 0 8px;
        }

        .slick-dots li button:before {
            font-family: none;
            font-size: 0;
            line-height: 20px;
        
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 50px;
        
            width: 12px;
            height: 12px;
        
            content: '';
            text-align: center;
        
            opacity: 1;
            background-color: $faqBorder;
        
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .slick-dots li.slick-active button:before {
            opacity: 1;
            background-color: $blue;
        }
    }

    &__ipoteka__slider__item {
        box-shadow: 4px 9px 35px rgba(140, 159, 177, 0.3);
        border-radius: 10px;
        padding: 70px 50px 30px!important;
        transition: 0.3s;
        position: relative;
        background-color: $white;
        outline: none;
    
        &:hover {
            box-shadow: 0px 10px 35px rgba(29, 145, 255, 0.3);

            .complex__ipoteka__slider__item__label {
                color: $blue;
                use {
                    fill: $blue;
                }
            }
        }
    }

    &__ipoteka__slider__item__label {
        position: absolute;
        @extend %font18;
        line-height: 150%;
        right: 20px;
        top: 17px;
        color: $lightBlue;
        padding-right: 40px;
        transition: 0.3s;

        svg {
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }

        use {
            fill: $lightBlue;
            transition: 0.3s;
        }
    }

    &__ipoteka__slider__item__logo {
        margin-bottom: 30px;
        height: 80px;
        display: flex;
        align-items: center;

        img {
            display: block;
            max-height: 80px;
        }
    }

    &__ipoteka__slider__item__advantages {
        @extend %font20;
        line-height: 150%;
        color: $baseColor;
    }

    &__credit__wrap {
        display: flex;
    }

    &__credit__item {
        color: $white;
        background-color: $blue;
        width: 100%;
        max-width: 490px;
        margin-right: 30px;
        box-shadow: 0px 10px 42px rgba(29, 145, 255, 0.4);
        border-radius: 10px;
        padding: 40px 50px 30px;
    }

    &__credit__item__name {
        @extend %section-title;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__credit__item__descr {
        @extend %font22;
        line-height: 150%;
        margin-bottom: 20px;
    }

    &__credit__item__text {
        @extend %font18;
        line-height: 150%;
    }
}

@media screen and (max-width: 1560px) {
    .complex {
        &__main__nav {
            padding: 20px 30px 18px;
        }

        &__main__nav__item {
            font-size: 16px;
            white-space: nowrap;
            margin-right: 15px;

            &:after {
                bottom: -18px;
            }
        }

        &__picture__slider {
            max-height: 462px;
        }

        &__picture__info {
            padding: 30px;
        }
        &__picture__info__item {
            font-size: 18px;

            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 40px;
            }
        }

        &__picture__info__item__name {
            max-width: 150px;
            padding-right: 15px;
        }

        &__place__map {
            max-width: 50%;
            min-width: 50%;
            height: 350px;
        }

        &__place__text {
            padding-left: 50px;
        }

        &__ipoteka__slider__item {
            padding: 60px 20px 20px!important;
        }

        &__ipoteka__slider__item__label {
            font-size: 16px;
        }

        &__ipoteka__slider__item__logo {
            margin-bottom: 15px;
            height: 60px;
    
            img {
                max-height: 60px;
            }
        }

        &__ipoteka__slider__item__advantages {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .complex {

        .section {
            &_second {
                padding: 50px 0 60px;
            }

            &_third {
                padding: 40px 0;
            }

            &_fourth {
                padding: 40px 0;
            }

            &_fifth {
                padding: 50px 0 40px;
            }
        }

        &__block-title {
            font-size: 20px;
        }

        &__main__row {
            padding: 20px;
        }

        &__main__price__item {
            font-size: 16px;
    
            &_text {
                font-size: 18px;
            }
        }

        &__main__address__item {
            font-size: 16px;
        }

        &__main__nav {
            padding: 16px 20px 14px;
        }

        &__main__nav__item {
            font-size: 12px;

            &:after {
                bottom: -14px;
            }
        }

        &__picture__slider {
            max-height: 427px;
        }

        &__picture__info {
            padding: 30px;
            max-width: 410px;
        }
        &__picture__info__item {
            font-size: 16px;

            margin-bottom: 20px;

            &:last-of-type {
                margin-bottom: 40px;
            }
        }

        &__picture__info__item__name {
            max-width: 130px;
            padding-right: 15px;
        }

        &__picture__info__link {
            font-size: 16px;
            padding: 10px;
            max-width: 170px;
        }

        &__descr {
            margin-top: 60px;
            margin-bottom: 60px;
        }

        &__descr__text {
            font-size: 16px;
        }

        &__place__text {
            font-size: 16px;
        }

        &__advantages__item {
            font-size: 16px;
        }

        &__ipoteka__slider__item {
            padding: 50px 20px 20px!important;
        }

        &__ipoteka__slider__item__label {
            font-size: 12px;
            padding-right: 17px;

            svg {
                width: 10px;
                height: 12px;
            }
        }

        &__ipoteka__slider__item__logo {
            margin-bottom: 15px;
            height: 50px;
    
            img {
                max-height: 50px;
            }
        }

        &__ipoteka__slider__item__advantages {
            font-size: 14px;
        }

        &__credit__wrap {
            display: flex;
            flex-wrap: wrap;
        }

        &__credit__item {
            width: calc(50% - 30px);
            margin-bottom: 30px;
            padding: 20px;
        }

        &__credit__item__name {
            font-size: 35px;
        }

        &__credit__item__descr {
            font-size: 20px;
            margin-bottom: 20px;
        }
    
        &__credit__item__text {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 992px) {
    .complex {
        .section {
            &_first {
                padding: 60px 0 30px;
            }

            &_second {
                padding: 40px 0 50px;
            }

            &_third {
                padding: 30px 0;
            }

            &_fourth {
                padding: 30px 0;
            }

            &_fifth {
                padding: 40px 0;
            }
        }

        &__block-title {
            font-size: 18px;
        }

        &__main__row {
            padding: 20px 10px;
        }

        &__main__price__item {
            font-size: 14px;
    
            &_text {
                font-size: 16px;
            }
        }

        &__main__address {
            flex-wrap: wrap;
        }

        &__main__address__item {
            font-size: 14px;

            &:not(:last-of-type) {
                margin-bottom: 5px;
            }
        }

        &__main__nav {
            padding: 12px 10px 10px;
            overflow: hidden;
            height: 37px;
        }

        &__main__nav__overflow {
            overflow-x: scroll;
            padding-bottom: 40px;
        }

        &__main__nav__item {          

            &:after {
                bottom: -10px;
                height: 2px;
            }
        }

        &__picture {
            display: block;
            margin-top: 20px;
        }

        &__picture__slider {
            border-radius: 0;
            max-height: 300px;
        }
        
        &__picture__info {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            max-width: 100%;
        }

        &__picture__info__item {
            font-size: 14px;
        }

        &__picture__info__item__name {
            max-width: 50%;
        }

        &__picture__info__link {
            font-size: 14px;
        }

        &__descr {
            margin-top: 45px;
            margin-bottom: 45px;
        }

        &__descr__text {
            font-size: 14px;
        }

        &__place__text {
            font-size: 14px;
        }

        &__advantages__item {
            font-size: 14px;
            margin-bottom: 14px;
            padding-left: 27px;
            
            &:before {
                width: 17px;
                height: 13px;
                background-size: cover;
            }
        }

        &__ipoteka {
            margin-bottom: 90px;
        }

        &__credit__item__name {
            font-size: 28px;
            margin-bottom: 10px;
        }

        &__credit__item__descr {
            font-size: 18px;
            margin-bottom: 10px;
        }
    
        &__credit__item__text {
            font-size: 14px;
        }

    }
}

@media screen and (max-width: 768px) {
    .complex {

        .section {
            &_second {
                padding: 30px 0 40px;
            }

            &_third {
                padding: 25px 0;
            }

            &_fifth {
                padding: 30px 0 10px; 
            }
        }

        &__block-title {
            font-size: 16px;

            &_descr {
                margin-bottom: 15px;
            }

            &_place {
                margin-bottom: 20px;
            }

            &_advantages {
                margin-bottom: 20px;
            }

            &_plan {
                margin-bottom: 20px;
            }

            &_ipoteka {
                margin-bottom: 20px;
            }

            &_credit {
                margin-bottom: 20px;
            }
        }

        &__main__price__item {
            font-size: 12px;
    
            &_text {
                font-size: 14px;
            }
        }

        &__main__address__item {
            font-size: 12px;
        }

        &__picture__slider {
            max-height: 250px;
        }

        &__picture__info {
            padding: 20px;
        }

        &__picture__info__item {
            font-size: 12px;
            margin-bottom: 10px;

            &:last-of-type {
                margin-bottom: 20px;
            }
        }

        &__picture__info__link {
            font-size: 12px;
        }

        &__descr {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        &__descr__text {
            font-size: 12px;
        }

        &__place__wrap {
            display: block;
        }

        &__place__map {
            max-width: 100%;
            min-width: 100%;
            height: 185px;
            margin-bottom: 20px;
        }

        &__place__text {
            font-size: 12px;
            padding-left: 0;
        }

        &__advantages__item {
            font-size: 12px;
        }

        &__ipoteka {
            margin-bottom: 60px;
        }

        &__ipoteka__slider {

            .slick-dots {
                bottom: -40px;
            }

            .slick-dots li {
                margin: 0;
            }

            .slick-dots li button:before {
                width: 6px;
                height: 6px;
            }
        }

        &__ipoteka__slider__item {
            padding: 40px 20px 20px!important;
        }

        &__ipoteka__slider__item__label {
            font-size: 10px;
        }

        &__ipoteka__slider__item__logo {
            margin-bottom: 15px;
            height: 40px;
    
            img {
                max-height: 40px;
            }
        }

        &__ipoteka__slider__item__advantages {
            font-size: 12px;
        }

        &__credit__wrap {
            display: block;
        }

        &__credit__item {
            width: 100%;
            margin-right: 0;
        }

        &__credit__item__name {
            font-size: 24px;
        }

        &__credit__item__descr {
            font-size: 16px;
        }
    
        &__credit__item__text {
            font-size: 12px;
        }

    }
}

@media screen and (max-width: 576px) {
    .complex {
        &__main__title {
            flex-basis: 100%;
        }

        &__main__price {
            text-align: left;
            flex-basis: 100%;
            margin-bottom: 15px;
        }

        &__main__address__item {
            flex-wrap: wrap;
        }

        &__main__address__item__metro {
            margin-right: 15px;
        }

        &__main__address__item__street {
            margin-right: 15px;
        }

        &__picture__slider {
            max-height: 180px;
        }

        &__picture__info {
            padding: 20px 15px;
        } 

        &__picture__info__item__name {
            max-width: 45%;
        }        

        &__picture__info__link {
            max-width: 100%;
            padding: 8px;
        }
    }
}