// FONTS
$mazzard: 'Mazzard H', sans-serif;

//colors
$lightBlue: #7889A7;
$bgBlue: #469AF4;
$baseColor: #292929;
$yellow: #FFB342;
$white: #FFFFFF;
$bgGray: #F2F6FF;
$lightGray: #F9F9F9;
$blue: #1D91FF;
$red: #F7125C;
$green: #49C9A5;
$darkGray: #8C9FB1;
$offersShadow: #CFDDEA;
$faqBorder: #C7D4DF;
$metroGreen: #76BC68;
$lightGreen: #57CCBA;

// размеры шрифтов
// базовый размер
%base {
    font-size: 23px;
}

%title {
    font-size: 74px;
}

%font15 {
    font-size: 15px;
}

%font18 {
    font-size: 18px;
}

%font20 {
    font-size: 20px;
}

%font22 {
    font-size: 22px;
}

%font26 {
    font-size: 26px;
}

%section-title {
    font-size: 50px;
    line-height: 130%;
}

%offers-tags {
    font-size: 10px;
    line-height: 1;
    text-transform: uppercase;
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:before,
    &:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
}
html, body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
  
body {
    font-family: $mazzard;
    @extend %base;
    position: relative;
    
    &.no-scroll {
        overflow: hidden;
    }
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
    max-width: 1560px;
}

.btn {
    
    &_yellow {
        background: linear-gradient(270deg, #FFB342 0%, #F7931A 51.56%, #F7711A 100%);
    }

    &_light-green {
        background-color: $lightGreen;
    }
}

.section__title {
    @extend %section-title;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: $baseColor, $alpha: 0.2);
    z-index: 3;
    display: none;
}
  
ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
  
a {
    color: inherit;
    text-decoration: none;
    transition: all .2s;
    &:hover,
    &:focus {
      text-decoration: none;
      outline: none;
    }
}
  
p {
    margin: 0;
    padding: 0;
}
  
input,
textarea,
button {
    padding: 0;
    outline: none;
    -webkit-appearance: none;
    &:focus {
      outline: none;
    }
}
  
textarea {
    resize: none;
}
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 1560px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1200px) {
    %title {
        font-size: 50px;
    }

    %section-title {
        font-size: 40px;
    }

    %offers-tags {
        font-size: 9px;
    }

    .container {
        max-width: 992px;
    }
}

@media screen and (max-width: 992px) {
    %title {
        font-size: 40px;
    }

    %section-title {
        font-size: 35px;
    }
    .container {
        max-width: 768px;
    }
}

@media screen and (max-width: 768px) {
    %title {
        font-size: 35px;
    }

    %section-title {
        font-size: 30px;
    }

    .container {
        max-width: 576px;
    }
}
@media screen and (max-width: 576px) {
    %title {
        font-size: 28px;
    }

    %section-title {
        font-size: 24px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}
