.ipoteka {
    
    .ipoteka-get {
        padding: 233px 0 120px;

        &__title {
            margin-bottom: 40px;
        }

        &__subtitle {
            font-size: 23px;
            line-height: 150%;
            font-weight: 400;
            color: $baseColor;   
            margin-bottom: 80px;
        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
        
        &__item {
            box-shadow: 4px 9px 30px rgba(140, 159, 177, 0.3);
            border-radius: 10px;
            background-color: $white;
            padding: 70px 40px 77px;
            width: calc(50% - 30px);
            margin: 0 15px;
        }

        &__item__top {
            border-bottom: 1px solid #EBECED;
            padding-bottom: 50px;

            .ipoteka-get__item__text {
                max-width: 390px;
            }
        }

        &__item__title {
            font-size: 50px;
            line-height: 150%;
            color: $faqBorder;
            margin-bottom: 20px;

            &_light-green {
                color: $lightGreen;
            }
        }

        &__item__text {
            font-size: 21px;
            line-height: 150%;
            color: $baseColor;
        }

        &__item__list {
            margin: 45px 0 30px;
            li {
                position: relative;
                padding-left: 30px;
                font-size: 21px;
                line-height: 150%;
                color: $baseColor;

                &:not(:last-of-type) {
                    margin-bottom: 20px;
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 14px;
                    width: 20px;
                    height: 2px;
                    background-color: $faqBorder;
                    border-radius: 100px;
                }
            }

            &_light-green {
                li {
                    padding-left: 43px;
                    &:before {
                        width: 28px;
                        height: 21px;
                        top: 4px;
                        background-color: inherit;
                        background-image: url(../img/icons/check-green.svg);
                    }
                }
            }
        }

        &__btn {
            width: 360px;
            height: 70px;
            text-align: center;   
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: $white;
            box-shadow: 0px 19px 34px rgba(87, 204, 186, 0.5);
            margin: 80px auto 0;
        }
    }

    .ipoteka-partners {
        padding: 110px 0 130px;

        &__title {
            line-height: 130%;
            color: $baseColor;
            margin-bottom: 30px;
        }
        
        &__subtitle {
            font-size: 23px;
            line-height: 150%;
            font-weight: 400;
            max-width: 850px;
            color: $baseColor;
        }

        &__slider {
            margin-top: 90px;
            .slick-prev:before,
            .slick-next:before {
                font-family: none;
                font-size: 0;
                line-height: 1;
            
                opacity: 1;
                color: white;
            
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
            
            .slick-prev {
                background-image: url(../img/icons/filter-arrow.svg);
                background-repeat: no-repeat;
                transform: rotate(90deg);
                width: 15px;
                height: 8px;
                left: 0;
                z-index: 3;
                top: 42%;
            }

            .slick-next {
                background-image: url(../img/icons/filter-arrow.svg);
                background-repeat: no-repeat;
                transform: rotate(-90deg);
                width: 15px;
                height: 8px;
                right: 0;
                z-index: 3;
                top: 42%;
            }
        }

        &__slide {
            outline: none;
            text-align: center;
            display: flex!important;
            align-items: center!important;
            filter: grayscale(1);
            transition: 0.3s;

            img {
                margin: 0 auto;
            }

            &:hover {
                filter: grayscale(0);
            }
        }
    }


    .ipoteka-chance {
        background-color: $lightGreen;
        position: relative;
        padding: 120px 0 115px;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: 50px;
            width: 448px;
            height: 448px;
            background-image: url(../img/ipoteka-chance-logo.png);
            margin: 0 auto;
        }

        &:after {
            content: '';
            position: absolute;
            right: 63px;
            bottom: 0;
            width: 826px;
            height: 550px;
            background-image: url(../img/ipoteka-chance.png);
        }

        &__title {
            
            line-height: 130%;
            color: $white;
            margin-bottom: 30px;
            max-width: 770px;
        }

        &__subtitle {
            font-size: 23px;
            line-height: 150%;
            color: $white;
            font-weight: 400;
            margin-bottom: 50px;
        }

        &__btn {
            width: 360px;
            height: 70px;
            text-align: center;   
            border-radius: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            color: $lightGreen;
            background-color: $white;
            box-shadow: 4px 9px 23px #41BBA8;
            font-size: 21px;
            line-height: 145%;
        }
    }

    .ipoteka-feedback {
        padding-bottom: 150px;
        
        &__title {
            font-size: 50px;
            line-height: 130%;
            color: $white;
            max-width: 365px;
        }

        &__wrap {
            display: flex;
            box-shadow: 0px 10px 36px rgba(140, 159, 177, 0.25);
            border-radius: 10px;
            overflow: hidden;
        }

        &__left {
            background-image: url(../img/ipoteka-feedback.png);
            width: 60%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            padding: 110px 60px;

            &:before {
                content: '';
                position: absolute;
                top: 40px;
                right: 30px;
                width: 70px;
                height: 70px;
                background-image: url(../img/ipoteka-feedback-logo.png);
            }

            &:after {
                content: '';
                position: absolute;
                right: 32px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 63px;
                height: 20px;
                background-image: url(../img/arrows.png);
            }
        }

        &__form {
            padding: 60px 108px;
            width: 40%;

            &__title {
                font-size: 23px;
                line-height: 145%;
                font-weight: 400;
                color: $baseColor;
                margin-bottom: 34px;
                text-align: center;
            }

            &__label {
                position: relative;
                display: block;

                &:not(:last-of-type) {
                    margin-bottom: 30px;
                }
            }

            &__input {
                box-shadow: 4px 6px 23px rgba(140, 159, 177, 0.2);
                border-radius: 7px;
                width: 100%;
                height: 70px;
                font-family: $mazzard;
                padding: 0 30px;
                font-size: 20px;
                line-height: 22px;
                color: $baseColor;
                border: none;
                display: block;                
            }

            &__submit {
                font-family: $mazzard;
                font-size: 21px;
                line-height: 22px;
                font-weight: 700;
                color: $white;
                background-color: $lightGreen;
                border: none;
                border-radius: 7px;
                height: 70px;
                width: 100%;
                margin-bottom: 40px;
            }

            &__checkbox {
                position: absolute;
                z-index: -1;

                &:checked + .ipoteka-feedback__form__checkbox-text:after {
                    opacity: 1;
                }

            }

            &__checkbox-text {
                font-size: 17px;
                line-height: 150%;
                color: $baseColor;
                position: relative;
                padding-left: 39px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 24px;
                    height: 24px;
                    border: 2px solid $faqBorder;
                    border-radius: 3px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 4px;
                    top: 6px;
                    width: 16px;
                    height: 12px;
                    background-image: url(../img/icons/check-green.svg);
                    background-size: cover;
                    transition: 0.3s;
                    opacity: 0;
                }

                a {
                    color: $lightBlue;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width: 1560px) {
    .ipoteka {
        .ipoteka-get {
            padding: 125px 0 120px;

            &__title {
                margin-bottom: 20px;
            }

            &__subtitle {
                font-size: 21px;
                margin-bottom: 60px;
            }

            &__item {
                padding: 40px; 
            }

            &__item__top {
                padding-bottom: 30px;
            }

            &__item__title {
                font-size: 40px;
            }

            &__item__text {
                font-size: 18px;
            }

            &__item__list {
                margin: 30px 0;
                li {
                    padding-left: 30px;
                    font-size: 18px;

                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }

                    &:before {                        
                        top: 13px;
                    }
                }

                &_light-green {
                    li {
                        padding-left: 43px;
                        &:before {                            
                            top: 2px;                            
                        }
                    }
                }
            }
        }

        .ipoteka-partners {
            padding: 80px 0;

            &__title {
                margin-bottom: 20px;
            }

            &__subtitle {
                font-size: 21px;
            }

            &__slider {
                margin-top: 70px;
            }
        }

        .ipoteka-chance {
            &:after {
                right: -250px;
            }

            &__title {
                margin-bottom: 20px;
            }

            &__subtitle {
                font-size: 21px;
            }
        }

        .ipoteka-feedback {
            padding-bottom: 80px;
            &__left {
                background-position: center center;
            }

            &__form {
                padding: 40px 40px;

                &__title {
                    font-size: 21px;
                }

                &__input {
                    padding: 0 25px;
                    font-size: 18px;
                    width: 100%;
                    height: 50px;
                }

                &__submit {
                    font-size: 18px;
                    line-height: 1;
                    height: 50px;
                }

                &__checkbox-text {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .ipoteka {
        .ipoteka-get {
            padding: 125px 0 80px;

            &__subtitle {
                font-size: 18px;
                margin-bottom: 40px;
            }

            &__item {
                padding: 30px; 
            }

            &__item__top {
                padding-bottom: 20px;
            }

            &__item__title {
                font-size: 30px;
                margin-bottom: 10px;
            }

            &__item__text {
                font-size: 16px;
            }

            &__item__list {
                margin: 20px 0;
                li {
                    padding-left: 23px;
                    font-size: 16px;

                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }

                    &:before {                        
                        top: 11px;
                        width: 12px;
                    }
                }

                &_light-green {
                    li {
                        padding-left: 23px;
                        &:before {                            
                            top: 5px;  
                            width: 16px;
                            height: 12px;
                            background-size: cover;                          
                        }
                    }
                }
            }

            &__btn {
                font-size: 18px;
                width: 300px;
                height: 60px;
            }
        }

        .ipoteka-partners {
            
            &__subtitle {
                font-size: 18px;
            }

            &__slider {
                margin-top: 50px;
            }
        }

        .ipoteka-chance {
            padding: 80px 0;

            &:before {
                width: 300px;
                height: 300px;
                background-size: cover;
            }

            &:after {
                width: 400px;
                height: 400px;
                right: 0;
                background-size: cover;
            }

            &__subtitle {
                font-size: 18px;
                margin-bottom: 70px;
            }

            &__btn {
                font-size: 18px;
                width: 300px;
                height: 60px;
            }
        }

        .ipoteka-feedback {
            &__title {
                font-size: 40px;
            }

            &__left {
                padding: 70px 30px;
                &:before {
                    width: 30px;
                    height: 30px;
                    background-size: cover;
                }
            }

            &__form {
                padding: 40px 30px;

                &__title {
                    font-size: 18px;
                }

                &__input {
                    padding: 0 20px;
                    font-size: 16px;
                }

                &__submit {
                    font-size: 16px;
                }

                &__checkbox-text {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .ipoteka {
        .ipoteka-get {
            padding: 30px 0 80px;

            &__subtitle {
                font-size: 16px;
                
            }

            &__item {
                padding: 20px; 
            }

            &__item__top {
                padding-bottom: 10px;
            }

            &__item__title {
                font-size: 20px;
                margin-bottom: 10px;
            }

            &__item__text {
                font-size: 14px;
            }

            &__item__list {
                margin: 10px 0;
                li {
                    padding-left: 23px;
                    font-size: 14px;

                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }

                    &:before {                        
                        top: 8px;
                        width: 12px;
                    }
                }

                &_light-green {
                    li {
                        padding-left: 23px;
                        &:before {                            
                            top: 4px;  
                            width: 16px;
                            height: 12px;
                            background-size: cover;                          
                        }
                    }
                }
            }

            &__btn {
                font-size: 16px;
                width: 240px;
                height: 55px;
            }
        }

        .ipoteka-partners {
            padding: 50px 0;

            &__subtitle {
                font-size: 16px;
            }
        }
        .ipoteka-chance {
            padding: 60px 0;

            &:before {
                width: 250px;
                height: 250px;
                background-size: cover;
            }

            &:after {
                width: 300px;
                height: 300px;
                right: 0;
                background-size: cover;
            }

            &__subtitle {
                font-size: 16px;
                margin-bottom: 90px;
            }

            &__btn {
                font-size: 16px;
                width: 240px;
                height: 55px;
            }
        }

        .ipoteka-feedback {
            &__title {
                font-size: 35px;
            }

            &__left {
                width: 50%;

                &:after {
                    display: none;
                }
            }

            &__form {
                width: 50%;

                &__title {
                    font-size: 18px;
                }

                &__input {
                    padding: 0 20px;
                    font-size: 16px;
                    width: 100%;
                    height: 50px;
                }

                &__submit {
                    font-size: 16px;
                    line-height: 1;
                    height: 50px;
                }

                &__checkbox-text {
                    font-size: 14px;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .ipoteka {
        .ipoteka-get {
            padding: 30px 0 40px;

            &__title {
                margin-bottom: 10px;
            }

            &__subtitle {
                font-size: 12px;
                margin-bottom: 30px;
            }

            &__item__title {
                font-size: 16px;
                margin-bottom: 10px;
            }

            &__item__text {
                font-size: 12px;
            }

            &__item__list {
                margin: 10px 0;
                li {
                    padding-left: 23px;
                    font-size: 12px;

                    &:not(:last-of-type) {
                        margin-bottom: 10px;
                    }

                    &:before {                        
                        top: 8px;
                        width: 12px;
                    }
                }

                &_light-green {
                    li {
                        padding-left: 23px;
                        &:before {                            
                            top: 2px;  
                            width: 16px;
                            height: 12px;
                            background-size: cover;                          
                        }
                    }
                }
            }

            &__btn {
                font-size: 14px;
                width: 240px;
                height: 55px;
                margin: 50px auto 0;
            }
        }

        .ipoteka-partners {
            padding: 40px 0;

            &__title {
                margin-bottom: 10px;
            }
            &__subtitle {
                font-size: 12px;
            }

            &__slider {
                margin-top: 30px;
            }
        }

        .ipoteka-chance {
            padding: 40px 0;

            &__title {
                margin-bottom: 10px;
            }

            &__subtitle {
                font-size: 12px;
            }

            &__btn {
                font-size: 14px;
                width: 240px;
                height: 55px;
            }
        }

        .ipoteka-feedback {
            &__title {
                font-size: 30px;
            }

            &__wrap {
                display: block;
            }

            &__left {
                width: 100%;
                padding: 58px 15px;
                &:before {
                    top: 10px;
                    right: 10px;
                    width: 24px;
                    height: 24px;
                }
            }

            &__form {
                width: 100%;
                padding: 30px 20px;
                &__title {
                    font-size: 16px;
                }

                &__input {
                    padding: 0 15px;
                    font-size: 14px;
                    width: 100%;
                    height: 50px;
                }

                &__submit {
                    font-size: 14px;
                    line-height: 1;
                    height: 50px;
                }

                &__checkbox-text {
                    font-size: 12px;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .ipoteka {
        .ipoteka-get {
            padding: 30px 0 40px;

            &__items {
                display: block;
                margin: 0;
            }

            &__item {
                padding: 0;
                width: 100%;
                margin: 0 0 30px;
                box-shadow: none;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }

            &__item__top {
                padding-bottom: 0;
                border: none;
            }

            &__btn {
                border-radius: 4px;
                width: 100%;
                height: 40px;
                margin: 30px auto 0;
            }
        }

        .ipoteka-partners {
            &__slider {
                margin-left: -15px;
                margin-right: -15px;
            }
        }

        .ipoteka-chance {
            &__subtitle {
                margin-bottom: 75px;
            }

            &:before {
                width: 200px;
                height: 200px;
                background-size: cover;
            }

            &:after {
                width: 200px;
                height: 200px;
                right: -32px;
                background-size: cover;
            }

            &__btn {
                border-radius: 4px;
                height: 40px;
                width: 190px;
            }
        }

        .ipoteka-feedback {
            padding-bottom: 40px;

            &__title {
                font-size: 20px;
            }

            &__form {
                
                &__title {
                    font-size: 12px;
                    margin-bottom: 15px;
                }

                &__label {
                    &:not(:last-of-type) {
                        margin-bottom: 15px;
                    }
                }

                &__input {
                    padding: 0 15px;
                    font-size: 12px;
                    width: 100%;
                    height: 30px;
                }

                &__submit {
                    font-size: 12px;
                    line-height: 1;
                    height: 40px;
                    border-radius: 4px;
                    margin-bottom: 15px;
                }

                &__checkbox-text {
                    font-size: 10px;
                    max-width: 400px;
                }
            }
        }
    }
}